aside.logo {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #b92815;
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
    height: 100%;
}

a, a > p{
    color: white;
    text-decoration: none;
    font-family: "Fredoka one", cursive;
}