.about-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 5px;
    box-shadow: 0px 2px 15px -7px rgba(0,0,0,0.64);
    padding: 5px;
    margin-right: 20px;
}

.about-image {
    height: 150px;
    width: 200px;
    border: none;
}

.about-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: 200px;

    border-radius: 5px;
    background-color: rgb(51, 151, 187);
    padding: 10px;
    color: #fff;
}

.about-infos div {
    width: 49%;
    text-align: center;
}

.about-infos h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.grass {
    background-color: #9BCC50;
}

.poison {
    background-color: #B97FC9;
}

.fire {
    background-color: rgb(253, 125, 36);
}

.water {
    background-color: #4592C4;
}

.rock {
    background-color: #A38C21;
}

.ground {
    background: linear-gradient(180deg, rgba(163,140,33,1) 50%, rgba(238,213,53,1) 50%);

}

.bug {
    background-color: #729F3F;
}

.flying {
    background: linear-gradient(180deg, rgba(61,199,239,1) 50%, rgba(189,185,184,1) 50%);
}

.normal {
    background-color: #A4ACAF;
}

.electric {
    background-color: #EED535;
}

.ice {
    background-color: #51C4E7;
}

.fairy {
    background-color: #FDB9E9;
}

.steel {
    background-color: #9EB7B8;
}

.fighting {
    background-color: #D56723;
}

.psychic {
    background-color: #F366B9;
}

.dragon {
    background: linear-gradient(180deg, rgba(83,164,207,1) 50%, rgba(241,110,87,1) 50%);
}

.dark {
    background-color: #707070;
}

.ghost {
    background-color: #7B62A3;
}

@media(max-width: 768px) {
    .about-pokemon {
        width: 100%;
        box-shadow: 0px 2px 15px -7px rgba(0,0,0,0.64);
        margin-bottom: 10px;
    }
}

@media(max-width: 576px) {
    .about-infos h3 {
        font-size: 1em;
        font-weight: bold;
    }

    .about-infos span {
        font-size: 0.7em;
    }
}