aside.menu-area {
    background-color: #b92815;
}

.menu a {
    display: block;
    font-weight: 600;
    padding: 15px 15px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.menu a:hover {
    background: #fff;
    color: #E3350D;
    font-weight: 600;
}

@media(max-width: 990px) {
    .menu {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }
}