.active-pink-2 input.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
}

.pagination {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.pagination-button {
    background-color: rgb(185, 40, 21);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    color: #FFF;
    font-weight: 600;

    width: 100;
    height: 70px;

    transition: background-color .2s;
}

.pagination-button:hover {
    background-color: rgb(185, 40, 21, 0.8) ;
}

.pagination-button:disabled {
    background-color: rgb(185, 40, 21, 0.6);
}