.stats {
    box-shadow: 4px 10px 31px -4px rgba(0,0,0,0.47);
    grid-area: stats;
    margin-top: 10px;

    border-radius: 5px;
    padding: 10px;
    text-align: center;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats > h3 {
    width: 100%;

}
.stats-table{
    font-size: 1.2em;
    text-align: justify;
    text-transform: capitalize;   

}

.stats-table td {
    padding: 5px;
}

.stats-table td .stats-values {
    width: 120px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid rgb(51, 151, 187);
}

.stat-percentage {
    text-align: right;
    font-size: 0.55em;
    color: #fff;

    background-color: rgb(51, 151, 187, 0.8);
    height: 100%;

}