main > div {
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    height: 80vh;
    flex-wrap: wrap;

    overflow-y: scroll;
}
  
@media(max-width: 768px){
    main > div {
        height: auto;
    }
}