main > div {
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    height: 95%;
    flex-wrap: wrap;

    overflow-y: auto;
}
  
@media(max-width: 768px){
    main > div {
        height: auto;
        margin-bottom: 10px;
        overflow-y: auto;
        width: 100%;
    }
}